<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fighting.teamlego.trungtamhienmaunhandaotphcm">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="Trung Tâm Hiến Máu Nhân Đạo Tp.HCM"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBFjK8UInAeNGfhx8attCH8UNY6xzNjuwU" />

        <activity
            android:name=".SplashScreen"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="Trung Tâm Hiến Máu Nhân Đạo Tp.HCM"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>